<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <img id="logoDetail" src="../images/MoveMe.png" alt="">
    <form id="logout" action="/logout" method="GET">
        <button>Log out</button>
    </form>
{{#allMovies}}
    <h2>{{title}}</h2>
    <img src="{{poster}}" alt="">
    <form action="/delete-movie" method="POST"><button class="deleteBtn">Delete</button></form>
    <input type="hidden" name="movie_id" value="{{movie_id}}">
    <H4>{{description}}</H4>
    <form action="/logout" method="GET">
        <button>Home</button>
    </form>
    {{/allMovies}}
</body>

</html>