<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div id="everything">
        <img id="logo" src="../images/MoveMe.png" alt="">

        <form id="logout" action="/logout" method="GET">
            <button>Log out</button>
        </form>

        <form action="/movies/create" method="POST">
            <h4>Add new movie</h4>
            <input type="text" name="title" placeholder="Movie title">
            <input type="text" name="description" placeholder="Description">
            <select name="genre" id="genreDropDown">
                <option value="default">--Genre--</option>
                <option value="Adventure">Adventure</option>
                <option value="Horror">Horror</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
                <option value="Sci-fi">Sci-fi</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Musical">Musical</option>
            </select>
            <input type="text" name="poster" id="posterURL" placeholder="Poster URL">
            <button id="submitBtn">Submit</button>
        </form>

        <UL id="movieList">
            <h3>Movie List</h3>
            {{#allMovies}}
            <li>
                <form action="/delete-movie" method="POST">
                <div>
                    <input type="hidden" name="movie_id" value="{{movie_id}}">
                    <h4>{{title}}</h4>
                    <button class="deleteBtn">Delete</button>
                        <input type="hidden" name="movieId" value={{movieId}}>
                </div>
                <a href="/movies/{{movie_id}}"><img src="{{poster}}" alt=""></a>
                <h6>{{genre}}</h6>
                </form>
            </li>
            {{/allMovies}}
        </UL>
    </div>
</body>

</html>