<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="everything">
        <img id="logo" src="../images/MoveMe.png" alt="">

        <form action="/login" method="POST" id="loginForm">
            <h4>Log in</h4>
            <input type="hidden" name="user_id" value="{{user_id}}">
            <input type="text" placeholder="username" name="username">
            <input type="password" placeholder="password" name="password">
            <button id="loginSubmitBtn">Go</button>
        </form>

        {{errorMessage}}
        {{message}}

        <div id="registerDiv">
            <form action="/register" method="GET">
                <h4>No account??</h4>
               <button>Create one!</button>
            </form>
        </div>
    </div>
</body>

</html>