<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="everything">
        <img id="logo" src="../images/MoveMe.png" alt="">

        <h1>Create an Account</h1>

        <form action="/create-account" method="POST" id="registrationForm">
            <input class="formBox" type="text" name="first_name" placeholder="First name">
            <input class="formBox" type="text" name="last_name" placeholder="Last name">
            <input class="formBox" type="text" name="email" placeholder="Email address">
            <input class="formBox" type="text" name="username" placeholder="New username">
            <input class="formBox" type="password" name="password" placeholder="Password">
            <button class="formBox" id="createAccountBtn">Submit</button>
        </form>
        
        <form action="/login" method="GET" id="homeBtn">
            <button>Home</button>
        </form>
    </div>
    
</body>
</html>