body{
    display: flex;
    flex-direction: column;
    background-color: black;
    text-align: center;
    border: white solid 3px;
    color: white;
    padding-bottom: 250px;
}

#everything{
    margin: 100px;
    text-align: center;
    margin-top: 30px;
}

#logoDetail{
    margin: auto;
    border-bottom: dashed white 2px;
    height: 300px;
    width: 350px;
}

#logo{
    border-bottom: white dashed 2px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    height: 300px;
    width: 350px;
}

li{
    border-bottom: white solid 2px;
}

img{
    height: 200px;
    width: 200px;
    margin: auto;
}

#registerDiv{
    margin-top: 75px;
}

#loginForm{
    padding-bottom: 50px;
}


#logout{
    padding-top: 20px;
}

#movieList{
    margin: auto;
    text-align: center;
    padding-right: 47px;
}

.deleteBtn{
    margin: 15px;
}

#registrationForm{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 250px;
    justify-content: space-around;
}

.formBox{
    margin: 3px;
}

#homeBtn{
    padding-top: 10px;
}